{% extends 'base.html' %}


{% block title %}
{{ ad.title }} - {{ block.super }}
{% endblock title %}


{% block content %}

<div class="card text-center">
    <div class="card-header">
        Posted by {{ ad.author }}
    </div>
    <div class="card-body">
        <h5 class="card-title">
            {{ ad.title }}
        </h5>
        <hr>
        <p class="card-text">
            {{ ad.content|safe }}
        </p>
    </div>
    <hr>
    <a href="#" class="btn btn-warning">Edit this ad</a>
    <a href="{% url 'ad_del_ask' pk=ad.id %}" class="btn btn-danger">Delete this ad</a>
    <div class="card-footer text-muted">
        {{ ad.date_of_creation }}
    </div>
</div>

<br>

{% for repl in ad.replies_to_adv.all %}
<div class="card mb-3 mx-auto" style="width: 50%">
    <h5 class="card-header">
        Reply by {{ repl.author }}
    </h5>
    <div class="card-body">
        <p class="card-text">
            {{ repl.text }}
        </p>
        <hr>
        {% if repl.is_approved == False and repl.is_rejected == False %}
        <a href="{% url 'repl_apr_and_disapr' pk=ad.id repl_pk=repl.id %}" class="btn btn-success">Approve</a>
        <a href="{% url 'repl_rej_and_unrej' pk=ad.id repl_pk=repl.id %}" class="btn btn-dark">Reject</a>
        {% elif repl.is_approved == True and repl.is_rejected == False %}
        <a href="{% url 'repl_apr_and_disapr' pk=ad.id repl_pk=repl.id %}" class="btn btn-outline-success">Disapprove</a>
        <a href="{% url 'repl_rej_and_unrej' pk=ad.id repl_pk=repl.id %}" class="btn btn-dark">Reject</a>
        {% elif repl.is_approved == False and repl.is_rejected == True %}
        <a href="{% url 'repl_apr_and_disapr' pk=ad.id repl_pk=repl.id %}" class="btn btn-success">Approve</a>
        <a href="{% url 'repl_rej_and_unrej' pk=ad.id repl_pk=repl.id %}" class="btn btn-outline-dark">Unreject</a>
        {% endif %}
        <br>
        <br>
        <a href="{% url 'repl_del_ask' pk=ad.id repl_pk=repl.id %}" class="btn btn-danger">Delete this reply</a>
    </div>
    <div class="card-footer text-muted">
        {{ repl.date_of_creation }}
    </div>
</div>
{% empty %}
<h3>
    No replies here yet
</h3>
{% endfor %}

{% endblock content %}
