{% extends 'base.html' %}


{% block title %}
{{ ad.title }} - {{ block.super }}
{% endblock title %}


{% block content %}
<div class="card text-center">
    <div class="card-header">
        Posted by {{ ad.author }}
    </div>
    <div class="card-body">
        <h5 class="card-title">
            {{ ad.title }}
        </h5>
        <hr>
        <p class="card-text">
            {{ ad.content|safe }}
        </p>
    </div>
    <div class="card-footer text-muted">
        {{ ad.date_of_creation }}
    </div>
</div>

<br>

{% for repl in ad.replies_to_adv.all %}
<div class="card mb-3 mx-auto" style="width: 50%">
    <h5 class="card-header">
        Reply by {{ repl.author }}
    </h5>
    <div class="card-body">
        <p class="card-text">
            {{ repl.text }}
        </p>
        <a href="#" class="btn btn-success">Accept</a>
        <a href="#" class="btn btn-danger">Delete</a>
    </div>
</div>
{% endfor %}

{% endblock content %}
