{% extends 'base.html' %}


{% block title %}
Ads - {{ block.super }}
{% endblock title %}


{% block content %}

{% for ad in list_of_ads %}
<div class="card mb-3">
    <div class="card-header">
        {{ ad.category }} request by {{ ad.author }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ ad.title }}</h5>
        <p class="card-text">Replies to this request: {{ ad.replies_to_adv.count }}</p>
        <a href="{{ ad.get_adv_pk }}" class="btn btn-success">See</a>
    </div>
    <div class="card-footer text-muted">
        {{ ad.date_of_creation }}
    </div>
</div>
{% empty %}
<h2>
    No ads here yet
</h2>
{% endfor %}

{% endblock content %}
